@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4D03F;
    background-image: linear-gradient(30deg, #F4D03F 0%, #16A085 100%);
    font-family: 'Source Serif Pro';
    height: 230vh;
}

header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    z-index: 10;
    background-color: rgb(0, 16, 88);
}

header .logo {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 10;
}

header>h1 {
    font-size: 2rem;
    color: white;
}

header .navigation {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

header .navigation li {
    font-size: 1.5rem;
    list-style: none;
    margin: 0px 10px;
}

header .navigation li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    border: 2px solid white;
    padding: 4px 6px;
    border-radius: 10px;
}

header .navigation li a:hover {
    cursor: pointer;
    color: yellow;
    text-decoration: underline;
    text-shadow: 2px sandybrown;
}

.heading {
    position: absolute;
    top: 17%;
    text-align: center;
    background: rgb(233, 214, 214);
    border-radius: 40px;
    width: 90%;
    padding: 2%;
    left: 5%;
}

.heading--1 {
    font-size: 3rem;
}

.heading--2 {
    color: rgb(40, 0, 149);
    font-size: 2rem;
}
.explanation {
    position: absolute;
    line-height: 130%;
    font-weight: 500;
    top: 43%;
    width: 90%;
    padding: 2%;
    left: 5%;
    background: rgb(233, 214, 214);
    border-radius: 40px;
    font-size: 1.5rem;

}

.bisection-method {
    position: absolute;
    margin-top: 3%;
    line-height: 50px;
    top: 84%;
    width: 90%;
    padding: 2%;
    left: 5%;
    background: rgb(233, 214, 214);
    border-radius: 40px;
    font-size: 1.5rem;
}

.btn--cls {
    border: 2px solid yellow;
    font-size: 1.2rem;
    background: black;
    color: white;
    border-radius: 10px;
    padding: 6px 10px;
}

.cube--equation {
    border: none;
    padding: 0.2rem 0.6rem;
    font-size: 1.6rem;
    font-family: inherit;
    text-align: center;
    width: 4rem;
    border-radius: 1rem;
    margin-right: 0.2rem;
    color: inherit;
    border: 1px solid black;
    transition: all 0.3s;

}

#graph {
    position: absolute;
    left: 20%;
    margin-top: 4%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
}
